<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ" crossorigin="anonymous"></script>

<style>
.cphoto{
 display: flex;
    flex-direction: column;
    justify-content: space-around;
}

</style>


</head>
<body>
 


<form id="form" action="formulaire_photo_souvenir" method="post" enctype="multipart/form-data" >
 
   <fieldset>

<legend>Formulaire Photo souvenir</legend>

    

<label for="photo">Photo:</label>
<input type="file" name="photo" id="photo" />


<label for="description">Description:</label>
<input type="text" id="description" name="description"/>
   </fieldset>



<button type="submit" id="button" >Enregister</button>


</form>



<div>
{{affiche}}
</div>


</body>


</html>